body {
    background-color: white;
    line-height: 1.5rem;
    overflow-x: hidden;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.container {
    width: 90%;
    max-width: 1200px;
    margin: 0px auto;
}
.section {
    padding: 100px 0px;
}

header,
h1,
p,
h2,
h3,
h4,
div,
footer,
section,
article {
    display: block;
}

#link_to_about {
    padding: 10px;
    color: white;
    background-color: rgb(2, 2, 88);
    border:none;
    border-radius: 5px;
    font-size: 20px;
    font-weight: 500;
    margin-top: 5px;
    text-decoration: underline;
}
#link_to_about:hover {
    cursor: pointer;
    background-color: red;
    transition: 0.15s;
    
}

#current {
    color: red;
}